body{
    width: 700px;
    align-content: center;
}
.post-header{
    background-color: lightblue;
    justify-content: space-between;
    align-items: center;
    display: flex;
    
    padding-inline: 40px;

}
.right-header{
    height: 90px;
    width: 90px;
}



.post-img{
    width:200px;
    
}
