body{
    width: 700px;
    align-content: center;
    margin: auto;
}
.post-header{
    background-color: lightblue;
    justify-content: space-between;
    align-items: center;
    display: flex;
    
    padding-inline: 40px;

}
.post-header svg{
    font-size: 4rem;
}

.header-left{
    display: flex;
    gap: 12px;
    align-items: center;
    
}
.header-left svg{
    font-size: 4rem;
}
h2{
    margin: o;
}
p{
    margin: 0;
}

img{
    width: 100%;
}

.post-reaction{
    display: flex;
    justify-content: space-between;

}
.icons{
    display: flex;
    justify-content: space-between;
    font-size: 2rem;
}
.post-footer{
    padding: 1rem;
}