.post-header{
    justify-content: space-between;
    align-items: center;
    display: flex;
    
    padding-inline: 40px;

}
.right-header{
    padding-right: 90px;
}


.post-img{
    width:200px;
    
}
